<section id="{{id}}" class="ui-section {{classList}}" style="{{style}}">
	<div class="grid-container {{gridContainer}}">
		<div class="grid-x grid-margin-x {{gridClass}}">
			<div class="cell {{column}}">
				<h1>{{title}}</h1>
				{{details}}
				{{>content}}
			</div>
		</div>
	</div>
</section>
